{% extends 'base.html'  %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="container mt-4">
<h1>Add an Employee</h1>
    {{error}}
<form action="{% url 'insert' %}" method="POST">
{% csrf_token %}
    <label style="margin-top: 25px;">First Name</label> </br>
 <input type="text" name="fname"/><br/>
    <label> Last Name</label><br/>
    <input type="text" name="lname"/><br/>
    <label> Employee Id </label><br/>
    <input type="text" name="emp_id"/><br/></br>
<input type="submit" value="Insert"/>
</form>
    </div>
{% endblock %}