{% extends 'base.html'  %}
{% block title %} Success {% endblock %}
{% block content %}
<div class="container">
<h1>{{success}}</h1>

    <p>
    <h1>Employee Records</h1>

{% if data %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Employee Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last</th>
      </tr>
    </thead>
    <tbody>
        {% for value in data %}
        <tr>
            <td>{{value.employeeid}}</td>
            <td>{{value.firstname}}</td>
            <td>{{value.lastname}}</td>
        </tr>
    </tbody>
    {% endfor %}
  </table>   
{% else %}
<h2> Record doesn't found</h2>
{% endif %}
</p>
    </div>
{% endblock %}